ul {
  list-style: none;
}

.human-wrapper {
  padding: calc(100vmax/50);
  max-width: 960px;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.human-description {
  font-weight: 100;
  font-size: 110%;
}

.human-photo img {
  border: 3px rgba(255, 255, 255, 0.75) solid;
  border-radius: 50%;
  max-width: 16em;
  padding: 0 0 0 0;
  margin: 0 0 0 1em;
}

/* .human-introduction {
  max-width: 100%;
  font-weight: 100;
} */

/* .collapsible h4:hover {
  color: #fc0;
  transition: 0.5s;
} */

/* .collapsible-content {
  display: none;
  transition: 1s;
} */

/* .collapsible-content.open {
  display: block;
  transition: 1s;
} */

/* button.button-block {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
  font-size: inherit;
  padding: inherit;
  transition: 1s;
} */

.tabs {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 0.5em;
}

.tab-list {
  justify-content: space-evenly;
  padding-left: 0;
}

.tab-list-item {
  list-style: none;
  /* display: inline-block; */
  border: 3px solid rgba(255, 255, 255, 0);
  padding: 0.25em 0.5em;
  margin-right: -3px;
}

.tab-list-active {
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  border-width: 3px;
}

.tab-list-active {
  color: #fc0;
}

.tab-content {
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid rgba(255, 255, 255, 0.8);
  /* border-radius: 25px 0 25px 0; */
  border-radius: 1em;
  margin: 0;
  padding: 0.75em 1em;
}
