h1.title {
  padding: 0 calc(100vmin/50);
}

.content h1 {
  font-size: calc(100vmin/12);
  /* font-family: 'Roboto Mono', monospace; */
  font-weight: 100;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

strong.emphasize {
  font-weight: 900;
}

.home-title li {
  list-style-type: none;
  margin: 0;
}

.home-title a {
  -webkit-text-stroke: 0.5px black;
}

ul.home-fa {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 calc(100vmin/50);
}

ul.home-fa li {
  list-style-type: none;
  margin: 10px 0 0 0;
}

ul.home-fa i {
  font-size: calc(100vmin/12);
  color: rgba(255, 255, 255, 1);
}

ul.home-fa i:hover {
  color: rgba(180, 127, 255, 1);
  /* -webkit-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 1); */
  /* -moz-box-shadow:    2px 2px 1px 1px rgba(0, 0, 0, 1); */
  /* box-shadow:         2px 2px 1px 1px rgba(0, 0, 0, 1); */
}

ul.home-fa i:active {
  color: rgba(255, 204, 0, 1);
}

ul.home-fa i.fa-linkedin {
  margin: 0 calc(100vmin/66) 0 0;
}

ul.home-fa i.fa-envelope {
  margin: 0 0 0 calc(100vmin/66);
}

.title-wrapper {
  margin-bottom: -0.5em;
  line-height: 1.25em;
}

.subtitle {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 25%;
  letter-spacing: .01em;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
