h1.title {
  padding: 0 calc(100vmin/50);
}

.content h1 {
  font-size: calc(100vmin/12);
  /* font-family: 'Roboto Mono', monospace; */
  font-weight: 100;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

strong.emphasize {
  font-weight: 900;
}

.home-title li {
  list-style-type: none;
  margin: 0;
}

ul.home-fa {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 calc(100vmin/50);
}

ul.home-fa li {
  list-style-type: none;
  margin: 10px 0 0 0;
}

ul.home-fa i {
  font-size: calc(100vmin/12);
  color: #fff;
}

ul.home-fa i:hover {
  color: cyan;
}

ul.home-fa i:active {
  color: #fc0;
}

ul.home-fa i.fa-linkedin {
  margin: 0 calc(100vmin/66) 0 0;
}

ul.home-fa i.fa-envelope {
  margin: 0 0 0 calc(100vmin/66);
}

.menu-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.0));
  padding: 0;
  margin: 0;
  height: 80px;
  /* overflow: hidden; */
  z-index: 1;
}

.menu-container img {
  height: 64px;
  padding: 4px 0 0 0;
  margin: 0;
}

.home-avatar img {
  height: calc(100vmin/8);
  padding: 0 0 0 calc(100vmin/50);
  margin: 0 0 0 0;
}

.menu-container li {
  list-style-type: none;
  margin: 0;
}

ul.header-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding: 0 0 0 20px;
}

ul.header-left li {
  list-style-type: none;
  margin: 0 20px 0 0;
}

ul.header-left i {
  font-size: 24px;
  color: #fff;
}

ul.header-left i:hover {
  color: #6900ea;
}

ul.header-left i:active {
  color: #fc0;
}

ul.header-left i.fa-linkedin {
  margin: 0 5px;
}

ul.header-left i.fa-envelope {
  margin: 0 0 0 5px;
}

ul.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
}

ul.header-right li {
  list-style-type: none;
  margin: 0 0 0 0;
}

ul.header-right li a {
  display: flex;
  color: #fff;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 6px;
  padding: 25px 15px;
  margin: 0px 2px;
  transition: 0.33s;
}

ul.header-right li a:hover {
  /* background-color: transparent; */
  color: #fc0;
  text-decoration: overline;
  /* border: 1px solid #f0f0f0; */
  /* -webkit-box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.2); */
  /* -moz-box-shadow:    2px 2px 1px 2px rgba(0, 0, 0, 0.2); */
  /* box-shadow:         2px 2px 1px 2px rgba(0, 0, 0, 0.2); */
}

ul.header-right li a.active {
  /* background-color: rgba(255, 255, 255, .9); */
  /* color: #000; */
  /* border: 1px solid #f0f0f0; */
  -webkit-box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow:    2px 2px 1px 2px rgba(0, 0, 0, 1);
  box-shadow:         2px 2px 1px 2px rgba(0, 0, 0, 1);
}

img {
  max-width: calc(100vw - 50px);
  max-height: calc(100vh - 150px);
}

.title-wrapper {
  margin-bottom: -0.5em;
  line-height: 1.25em;
}

.subtitle {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 25%;
  letter-spacing: .01em;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
