/* General Breakpoints */
@media only screen and (min-width: 1920px) {
  /* Styles */
  div.content {
    display: grid;
    place-items: center center;
    min-height: calc(100vh - 100px);
    min-width: 100vw;
    /* margin: 0 0 0 -0.65em; */
    padding: 0;
    color: rgba(255, 255, 255, 1);
  }
}

@media only screen and (max-width: 1919px) and (min-width: 1280px) {
  /* Styles */
  div.content {
    display: grid;
    place-items: center center;
    min-height: calc(100vh - 100px);
    min-width: 100vw;
    /* margin: 0 0 0 -0.5em; */
    padding: 0;
    color: rgba(255, 255, 255, 1);
  }
}

@media only screen and (max-width: 1279px) and (min-width: 960px) {
  /* Styles */
  div.content {
    display: grid;
    place-items: center center;
    min-height: calc(100vh - 100px);
    min-width: 100vw;
    /* margin: 0 0 0 -0.75em; */
    padding: 0;
    color: rgba(255, 255, 255, 1);
  }
}

@media only screen and (max-width: 959px) and (min-width: 640px) {
  /* Styles */
  div.content {
    display: grid;
    place-items: center center;
    min-height: calc(100vh - 100px);
    min-width: 100vw;
    /* margin: 0 0 0 -0.5em; */
    padding: 0;
    color: rgba(255, 255, 255, 1);
  }
}

@media only screen and (max-width: 639px) and (min-width: 400px) {
  /* Styles */
  div.content {
    display: grid;
    place-items: center center;
    min-height: calc(100vh - 100px);
    min-width: 100vw;
    /* margin: 0 0 0 -1.25em; */
    padding: 0;
    color: rgba(255,255,255,1);
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */

}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

