/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
  max-width: 640px;
  /* min-width: 400px; */
  margin: 0 auto;
}
body {
  background-color: #6900ea;
  padding: 0;
  margin: 0;
}
/* .Main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
h1, h2, p, li, ul {
  font-family: sans-serif;
}
h1.title {
  padding: 0 20px;
}
.menu-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* background-color: black; */
  padding: 0;
  margin: 0;
  height: 80px;
  overflow: hidden;
}
.menu-container img {
  height: 64px;
  padding: 0;
  margin: 0;
}
.home-avatar img {
  height: 64px;
  padding: 0 0 0 20px;
  margin: 0 0 0 0;
}
.menu-container li {
  list-style-type: none;
  margin: 0;
}
ul.header-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 20px;
}
ul.header-left li {
  list-style-type: none;
  margin: 0;
}
ul.header-left i {
  font-size: 24px;
  color: #fff;
}
ul.header-left i:hover {
  color: #6900ea;
}
ul.header-left i:active {
  color: #fc0;
}
ul.header-left i.fa-linkedin {
  margin: 0 5px;
}
ul.header-left i.fa-envelope {
  margin: 0 0 0 5px;
}
ul.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
}
ul.header-right li {
  list-style-type: none;
  margin: 0;
}
ul.header-right li a {
  display: flex;
  color: #fff;
  /* font-weight: 700; */
  text-decoration: none;
  padding: 31px 20px;
  margin: 0px 0px;
}
ul.header-right li a:hover {
  background-color: #fc0;
  color: #000;
}
.content > .js-content {
  /* background-color: rgba(255, 255, 255, .1); */
  color: rgba(255,255,255,1);
  font-weight: lighter;
  margin: 20px;
  padding: 20px;
  border: 0px rgba(255, 255, 255, .5) solid;
  border-radius: 5px;
  overflow: hidden;
}
.content h1 {
  font-size: 200%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  /* flex-basis: calc(100% * 6/8 - (1.2rem - 1.2rem * 6/8)); */
  /* max-width: calc(100% * 6/8 - (1.2rem - 1.2rem * 6/8)); */
  /* width: calc(100% * 6/8 - (1.2rem - 1.2rem * 6/8)); */
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
strong.emphasize {
  font-weight: bolder;
}
.home-title li {
  list-style-type: none;
  margin: 0;
}
ul.home-fa {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
}
ul.home-fa li {
  list-style-type: none;
  margin: 10px 0 0 0;
}
ul.home-fa i {
  font-size: 36px;
  color: #fff;
}
ul.home-fa i:hover {
  color: cyan;
}
ul.home-fa i:active {
  color: #fc0;
}
ul.home-fa i.fa-linkedin {
  margin: 0 10px 0 0;
}
ul.home-fa i.fa-envelope {
  margin: 0 0 0 10px;
}
ul.header-right li a.active {
  background-color: rgba(255, 255, 255, .95);
;
  color: #000;
}