* {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing:         border-box;
  -o-box-sizing:      border-box;
  -ms-box-sizing:     border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans',  sans-serif;
  overflow-wrap: break-word;
  max-height: 100vh;
  max-width: 100vw;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 3.2em;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4em;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
}

h4 {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

p, footer {
  font-size: 1em;
}

img {
  text-align: center;
  max-width: calc(100vw - 3em);
  max-height: calc(100vh - 9em);
}

a {
  text-decoration: none;
}

a:link {
  color: rgba(255, 204, 0, 1);
}

a:visited {
  color: rgba(255, 204, 0, 1);
}

a:hover {
  color: orange;
}

a:active {
  color: hotpink;
}

div.content {
  display: grid;
  place-items: center center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: calc(100vh - 4em);
  max-height: calc(100vh - 4em);
  margin: 0 auto;
  padding: 0;
  color: rgba(255,255,255,1);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}