ul {
  list-style: none;
}

.human-wrapper {
  padding: calc(100vmax/50);
  max-width: 67em; /* TO-DO: responsivize */
  display: flex;
  text-align: justify;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.human-description {
  font-weight: 100;
  font-size: 110%; /* TO-DO: responsivize */
}

.human-photo img {
  border: 0.15em rgba(255, 255, 255, 0.75) solid;
  border-radius: 50%;
  max-width: 16em; /* TO-DO: responsivize */
  padding: 0 0 0 0;
  margin: 0 0 0 1em;
  -webkit-box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    5px 5px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow:         5px 5px 1px 1px rgba(0, 0, 0, 0.75);

}

.tabs {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 0.5em;
}

.tab-list {
  justify-content: space-evenly;
  padding-left: 0;
}

.tab-list-item {
  list-style: none;
  border: 0.15em solid rgba(255, 255, 255, 0);
  padding: 0.25em 0.5em; /* TO-DO: responsivize */
  margin-right: -0.15em; /* TO-DO: responsivize */
}

.tab-list-active {
  border-bottom: 0.15em solid rgba(255, 255, 255, 0.8);
}

.tab-list-active {
  color: #fc0;
}

.tab-content {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.15em solid rgba(255, 255, 255, 0.8);
  border-radius: 0.5em;
  margin: 0;
  padding: 0.75em 1em; /* TO-DO: responsivize */
  -webkit-box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    5px 5px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow:         5px 5px 1px 1px rgba(0, 0, 0, 0.75);
}
