/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */

}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
    .bits-content {
      padding: 0;
      margin: 0;
    }

    .projects-container {
      /* width: 100vw; */
      max-width: 100vw;
    }

    .projects-container p {
      font-weight: 100;
    }

    .project-item {
      min-width: calc(100vmin - 4em);
      background-color: rgba(0, 0, 0, 0.3);
      margin: 0 .25em 0.5em .25em;
    }

    .project-item:hover {
      background-color: rgba(105, 0, 234, 0.25);
      border: 1px rgba(255, 255, 255, 0.8) solid;
    }

    .project-thumbnail {
      margin: 0.5em 0;
      display: flex;
      text-align: center;
      justify-content: center;
      /* max-height: 100%; */
      /* max-width: 100%; */
    }

    .project-thumbnail img {
      border-radius: 6px;
      /* height: auto; */
      /* width: auto; */
    }

    .project-placeholder {
      /* display: none; */
      height: 25%;
      width: 25%;
    }

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {

  /* Styles */

  .bits-content {
    padding: 0;
    margin: 0;
  }

  .projects-container {
    /* width: 100vw; */
    max-width: 100vw;
  }

  .projects-container p {
    font-weight: 100;
  }

  .project-item {
    min-width: calc(100vmin - 4em);
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 .5em 0.5em .5em;
  }

  .project-item:hover {
    background-color: rgba(105, 0, 234, 0.25);
    border: 1px rgba(255, 255, 255, 0.8) solid;
  }

}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media (min-width: 1181px) {
  /* Styles */
  .project-item {
    margin: 12px 24px 24px 16px;
  }
}

@media (min-width: 1181px) {
  /* Styles */
  /* .project-item {
    min-width: calc(100vmin - 100vmin/2);
    margin: 12px 24px 24px 16px;
  } */
}