/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  div.project-item {
    min-width: 18.5em;
    max-width: 18.5em;
    min-height: 16.5em;
    max-height: 16.5em;
    -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    3px 3px 1px rgba(0, 0, 0, 0.75);
    box-shadow:         3px 3px 1px rgba(0, 0, 0, 0.75);

  }
  .project-item h3 {
    font-size: 1.1em;
  }
  .icon-buttons a {
    font-size: 1.25em;
    margin-top: -0.08em;
    padding-left: 0.25em;
  }
  .project-item p {
    font-size: 0.8em;
    padding-top: 0.5em;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

  /* Styles */

}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  div.project-item {
    min-width: 23.75em;
    max-width: 23.75em;
    min-height: 16.5em;
    max-height: 16.5em;
    -webkit-box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    4px 4px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow:         4px 4px 1px 1px rgba(0, 0, 0, 0.75);

  }
  .project-item h3 {
    font-size: 1.25em;
  }
  .icon-buttons a {
    font-size: 1.25em;
    margin-top: 0em;
    padding-left: 0.25em;
  }
  .project-item p {
    font-size: 0.8em;
    padding-top: 0.5em;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  div.project-item {
    min-width: 21.75em;
    max-width: 21.75em;
    min-height: 16.5em;
    max-height: 16.5em;
    -webkit-box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    4px 4px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow:         4px 4px 1px 1px rgba(0, 0, 0, 0.75);

  }
  .project-item h3 {
    font-size: 1.25em;
  }
  .icon-buttons a {
    font-size: 1.25em;
    margin-top: 0em;
    padding-left: 0.25em;
  }
  .project-item p {
    font-size: 0.8em;
    padding-top: 0.5em;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media (min-width: 1181px) {
  /* Styles */
  .project-item {
    margin: 12px 24px 24px 16px;
  }
}

@media (min-width: 1181px) {
  /* Styles */
  /* .project-item {
    min-width: calc(100vmin - 100vmin/2);
    margin: 12px 24px 24px 16px;
  } */
}