html, body {
  overflow-x: hidden;
}

.bits-content {
  display: grid;
  place-items: center center;
  min-height: calc(100vh - 100px);
  padding: calc(100vmax/50);
}

.projects-container {
  margin: 0 10px 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.projects-container h3,
.project-item h3 {
  text-align: center;
}

.projects-container p,
.project-item p {
  text-align: justify;
}

.project-item {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 28.5em;
  /* min-width: 28.5em; */
  /* max-width: 38em; */
  min-height: 34em;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: .25em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}

.project-item:hover {
  border: 1px solid white;
  border-radius: 0.25em;
  background-color: rgba(105, 0, 234, 0.25);
}

.project-thumbnail {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.project-thumbnail img {
  border-radius: 0.2em;
  max-height: 100%;
  width: 100%;
}

.project-placeholder {
  max-height: 25%;
  max-width: 25%;
}

.icon-links {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}
